<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.game_2048">

    <!-- 添加读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/game_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/game_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MenuActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.menu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.SoundControl" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.sound_control" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.ModelSelect" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.model_select" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.HistoryActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.history" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".GameModel.ClassicModel" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.classic_model" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".GameModel.LimitModel" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.limit_model" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".GameModel.CountDownModel" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.game_2048.countdown_model" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--各种服务-->
        <service android:name="com.game_2048.Service.BackGroundMusicService" />

    </application>

</manifest>